name: docfx for GitHub Pages

on:
  # Runs on pushes targeting the default branch
  push:
    branches:
      - 'main'
      #- 'releases/**'
  pull_request:
    branches: 
      - 'main'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  # Single deploy job since we're just deploying
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest


    #########################################
    ######  sator-imaging/docfx-pages  ######
    #########################################
    steps:

      # for extensibility, docfx-pages does NOT checkout your repository.
      # so you need to checkout manually prior to sator-imaging/docfx-pages.
      - name: Checkout
        uses: actions/checkout@v3


      # after checkout, you can checkout another repo, copy logo image or
      # other assets into '.docfx' folder to setup own docfx environment.
      # note that images must be copied into '.docfx/images' folder.


      ######  main  ######

      - uses: sator-imaging/docfx-pages@v1
        id: deployment   # required to show url in actions result page.
        with:
          # required options - NOTE: double-quote (") cannot be used
          app_name:   'USG'
          site_title: 'Source Generator for Unity'
          site_footer: '&copy; 2024 Sator Imaging'

          # optional
          class_members: 'separatePages'  # 'separatePages' or 'samePage'
          google_analytics: ''  # empty to disable

          # paths must be relative from .docfx folder.
          # note that url works but only in top page. see sample website for detail.
          ## site_logo:    'https://avatars.githubusercontent.com/u/16752340'     
          ## site_favicon: 'https://avatars.githubusercontent.com/u/45192683'

          # advanced options
          # --> https://dotnet.github.io/docfx/docs/template.html?tabs=modern#custom-template
          # main.js
          # NOTE: double-quote (") cannot be used
          main_js: |
            export default {
                defaultTheme: 'light',
                showLightbox: (img) => true,
                iconLinks: [
                    {
                        icon: 'github',
                        href: 'https://github.com/sator-imaging',
                        title: 'GitHub'
                    },
                    {
                        icon: 'twitter',
                        href: 'https://twitter.com/sator_imaging',
                        title: 'Twitter'
                    },
                    {
                        icon: 'unity',
                        href: 'https://prf.hn/l/0eoDOON',
                        title: 'AssetStore'
                    },
                    {
                        icon: 'youtube',
                        href: 'https://www.youtube.com/@SatorImaging',
                        title: 'YouTube'
                    },
                    {
                        icon: 'chat-quote-fill',
                        href: 'https://www.sator-imaging.com/',
                        title: 'Contact'
                    },
                ],
            }

          # main.css
          # NOTE: double-quote (") cannot be used
          main_css: |
          
          
